.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
    background-color: #f9f9fa;
  }
  
  .contact-form {
    width: 48%;
    margin: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #6c757d;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
  }

  .input-group {
    display: flex;
    gap: 20px;
  }

  .input-group > div {
    text-align: start;
  }

  
  
  
  .contact-form label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #6c757d;
    text-align: start;
  }
  
  .contact-form input,
  .contact-form select,
  .contact-form textarea,
  .contact-form PhoneInput {
    padding: 15px 10px;
    margin-bottom: 20px;
    border: 2px solid #a3a1a1;
    border-radius: 4px;
    font-size: 11px;
    color: #6c757d;
    width: 100%;
    box-sizing: border-box;
  }

  .contact-form button {
    padding: 15px;
    background-color: #462686;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #4e2272;
  }
  
  .contact-info {
    width: 48%;
    color: #333;
    margin: 70px 20px
  }
  
  .contact-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .contact-info p {
    margin-bottom: 70px;
  }
  
  .offices-container {
    width: 100%;
    color: #333;
  }
  
  .offices-container h2 {
    text-align: start;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .offices-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .office {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .office h3 {
    margin-top: 0;
    font-size: 0.9rem;
    color: #333;
  }
  
  .office p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
  }

@media (max-width: 768px) {
  .contact-container{
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .contact-form form {
    padding: 20px;
  }

  .input-group {
    flex-direction: column;
  }

  .contact-info {
    width: 100% ;
  }

  .offices-grid {
    grid-template-columns: auto;
  }
}
  